[submodule "RIOT"]
	path = RIOT
	url = git://github.com/RIOT-OS/RIOT.git
[submodule "liboscore"]
	path = liboscore
	url = https://gitlab.com/oscore/liboscore.git
[submodule "RIOT_DTLS"]
	path = RIOT_DTLS
	url = git://github.com/janosbrodbeck/RIOT.git
